openapi: 3.1.0
info:
  title: OrderService API
  version: 1.0.0
  description: API for create and manage orders
x-ogen:
  target: ../pkg/openapi/order/v1
  package: order_v1
  clean: true

tags:
  - name: Order
    description: OrderService creates and manages orders

paths:
  /api/v1/orders: # create new order
    $ref: ./paths/orders.yaml
  /api/v1/orders/{order_uuid}/pay: # pay for order by uuid
    $ref: ./paths/order_pay.yaml
  /api/v1/orders/{order_uuid}: # show order by uuid
    $ref: ./paths/order_by_uuid.yaml
  /api/v1/orders/{order_uuid}/cancel: # cancel order by uuid (before payment)
    $ref: ./paths/order_cancel.yaml


